<ol class="fundingList divide-y divide-gray-200">
    <li class="flex justify-between items-center border-b px-5 py-2 text-center">
      <h2 class="flex-1  font-bold">Fund Name</h2>
      <h2 class="flex-1  font-bold">Performance Over One Month</h2>
      <h2 class="flex-1  font-bold">Performance Over Three Months</h2>
      <h2 class="flex-1  font-bold">Performance Over Three Years</h2>
    </li>
    @for(item of displayedData; track item){
      <!-- Loop through each item in displayedData to display funding details -->
      <li class=" flex justify-between items-center px-5 py-2">
        <p class="flex-1 text-left">{{item.fundName}}</p>
        <!-- 
          Show the first month, third month, and third year data;
          print N/A if funding is unavailable.
        -->
        <p class="flex-1 text-center">{{item.change1m ? item.change1m : 'N/A'}}</p>
        <p class="flex-1 text-center">{{item.change3m ? item.change3m : 'N/A'}}</p>
        <p class="flex-1 text-center">{{item.change3y ? item.change3y : 'N/A'}}</p>
        
      </li>
    }
  </ol>